packages: [
  "atom-elixir-formatter"
  "atom-ide-ui"
  "busy-signal"
  "emmet"
  "file-icons"
  "flow-ide"
  "git-blame"
  "git-status"
  "highlight-selected"
  "hyperclick"
  "ide-flowtype"
  "intentions"
  "language-elixir"
  "language-graphql"
  "language-mongodb"
  "language-terraform"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "react"
  "relative-numbers"
  "script"
  "styri-syntax"
  "teletype"
  "vim-mode-plus"
]
